@page "/color"

@{
    ViewData["Title"] = "My Colors";
}
<div>
    <h2>Color Picker : @GetType().FullName</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, sequi. Magni inventore consectetur omnis nesciunt vitae quas perferendis possimus adipisci commodi. Doloremque magni harum totam, aliquid at architecto dignissimos numquam.</p>
</div>

<div>

</div>