@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <p></p>
    <h1 class="display-4">Welcome</h1>
    <div>@Model.Message</div>

    <table>
        <thead>
            <tr>
                <th>Actions</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model.Categories!)
            {
            <tr>
                <td>
                    <form method="post">
                        <input type="submit" class="btn btn-warning btn-sm" asp-page-handler="LikeCategory" value="Like" /> &nbsp;
                        <input type="submit" class="btn btn-warning btn-sm" asp-page-handler="UnlikeCategory" value="Un-Like" /> &nbsp;
                    </form>
                </td>
                <td>@category.Name</td>
            </tr>
            }
        </tbody>
    </table>
</div>


